/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5;
  font-family: "Noto Sans TC","Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Microsoft JhengHei",  "Helvetica Neue", "sans-serif"; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-40 {
  font-size: 40px; }

.material-icons.md-48 {
  font-size: 48px; }

*, *::before, *::after {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", "Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", "Noto Sans TC", sans-serif; }

a {
  text-decoration: none;
  color: #fff; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jcsa {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.a-items-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.text-a-c {
  text-align: center; }

h2 {
  font-size: 48px;
  color: #650300;
  text-align: center;
  padding-top: 80px;
  font-weight: 700; }

.p-4 {
  padding: 16px; }

.pt-8 {
  padding-top: 32px; }

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px; }

.pb-2 {
  padding-bottom: 8px; }

.pb-8 {
  padding-bottom: 32px; }

.pb-11 {
  padding-bottom: 44px; }

.pb-18 {
  padding-bottom: 72px; }

.pl-4 {
  padding-right: 16px; }

.pr-12 {
  padding-right: 48px; }

.pr-16 {
  padding-right: 64px; }

.mr-16 {
  margin-right: 64px; }

.mr-32 {
  margin-right: 32px; }

.text-white {
  color: #fff; }

.borderB-white {
  border-bottom: 1px solid #fff; }

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px; }

header {
  background-color: #aa0601; }
  header .container img {
    width: 80px; }
  header .container ul :not(:last-child) {
    margin-right: 64px; }
  header .container ul li {
    font-size: 20px;
    font-weight: normal; }

@media (max-width: 576px) {
  header .container {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    header .container ul :not(:last-child) {
      margin-right: 0; }
    header .container ul li {
      width: 50%;
      font-size: 16px;
      padding: 12px 60px;
      text-align: center;
      border: 1px solid #fff; } }

footer {
  background-color: #AA0601;
  padding-top: 48px; }
  footer .container .contact-nav :not(:last-child) {
    margin-right: 48px; }
  footer .container .social .icon {
    width: 48px;
    height: 48px; }
    footer .container .social .icon:hover {
      -webkit-filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2);
              filter: invert(0.4) sepia(0.7) hue-rotate(226deg) saturate(2); }
  footer .container .contact-info {
    padding-bottom: 32px; }
    footer .container .contact-info li .material-symbols-outlined {
      padding-right: 22px; }
    footer .container .contact-info li a {
      font-size: 36px; }
  footer .copyRight {
    padding: 32px 12px;
    color: #fff; }

@media (max-width: 576px) {
  footer {
    padding-top: 24px; }
    footer .container {
      max-width: 375px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      footer .container .contact .contact-nav {
        display: none; }
        footer .container .contact .contact-nav :not(:last-child) {
          margin-right: 0px; }
      footer .container .contact .contact-info {
        width: 70%;
        padding-bottom: 0; }
        footer .container .contact .contact-info li {
          padding-bottom: 8px; }
          footer .container .contact .contact-info li .material-icons {
            font-size: 18px; }
          footer .container .contact .contact-info li a {
            font-size: 16px; }
      footer .container .contact .social {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
        footer .container .contact .social li {
          margin-right: 8px; }
          footer .container .contact .social li img {
            width: 24px;
            height: 24px; }
    footer .copyRight {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-top: 16px;
      padding-bottom: 24px; }
      footer .copyRight .policy {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        footer .copyRight .policy p {
          font-family: "Noto Sans TC"; } }

/*# sourceMappingURL=all.css.map */
